{% extends "base.html" %} {% block title %}About Me{% endblock %} {% block
content %}
<div class="bio">
  <div class="bio__header">
    <div
      class="bio__image__container"
      style="background-image: url(../static/jessica.jpg)"
    ></div>
    <div class="bio__vertical">
      <h1 class="bio__title">Jessica Smith</h1>
      <h2 class="bio__subtitle">Mental Health Nurse Practitioner</h2>
      <h3 class="bio__addtitle">APRN, PMHNP-BC</h3>
    </div>
  </div>
</div>
<div class="main__body" style="gap: 0">
  <hr class="main__hr" />
  <p class="main__text">
    Welcome to Smith Mental Wellness! My name is Jessica Smith, and I am a
    Psychiatric Mental Health Nurse Practitioner. My private practice is located
    in Kettering, Ohio, serving our local community and clients throughout the
    state. I am passionate about mental health care and enjoy providing a
    supportive, safe, and warm environment where individuals can find the care
    they need to achieve lasting mental wellness. I care for patients across the
    entire lifespan, starting with children as young as age 6.
  </p>
  <p class="main__text">
    I specialize in caring for those navigating PTSD, trauma, depression,
    anxiety, OCD, adjustment disorder, and Bipolar disorder. My clinical focus
    is on providing personalized, evidence-based medication management designed
    to meet each individual's unique needs, ensuring each client feels safe and
    heard every step of the way. This intentional approach to advanced
    psychiatric care is backed by over 14 years of clinical healthcare
    experience. This strong clinical foundation taught me that medication works
    best when it is tailored specifically to you—taking into account your
    lifestyle, environment, and medical history rather than just treating a list
    of symptoms.
  </p>
  <p class="main__text">
    To make care as accessible as possible, I offer flexible in-person
    appointments as well as convenient telehealth options. I welcome private pay
    and accept several major insurances, including Aetna, Anthem, Cigna, and
    Tricare, as well as others.
  </p>
  <p class="main__text">
    When I am not at the office, my absolute favorite place to be is surrounded
    by my family and finding new places to go hiking. If you are ready to
    partner together on your or your child's health journey, please reach out to
    schedule an initial consultation today.
  </p>
</div>
{% endblock %}
