{% extends "base.html" %} {% block title %}Smith Mental Wellness{% endblock %}
{% block content %}
<div class="main__body">
  <h2 class="main__subtitle">HIPAA NOTICE OF PRIVACY PRACTICES CONSENT</h2>
  <p class="main__text">HIPAA Notice of Privacy Practices Consent</p>
  <p class="main__text">
    THIS NOTICE DESCRIBES HOW MEDICAL INFORMATION ABOUT YOU MAY BE USED AND
    DISCLOSED AND HOW YOU CAN GET ACCESS TO THIS INFORMATION. PLEASE REVIEW IT
    CAREFULLY
  </p>
  <p class="main__text">Last Updated: September 20, 2026</p>
  <b class="main__text"> OVERVIEW </b>
  <p class="main__text">
    This HIPAA Notice of Privacy Practices (the “Notice”) will tell you about
    the ways Smith Mental Wellness and the licensed health care professionals
    providing professional services through such entities (“Smith Mental
    Wellness Providers”) (collectively the “Practice), may disclose health
    information about you. This Notice will also describe your rights and
    certain obligations that we have regarding the use and disclosure of your
    health information. Smith Mental Wellness is a behavioral health practice
    that offers services across multiple legal entities which are referred to by
    the HIPAA Privacy Rule as an "organized health care arrangement." Smith
    Mental Wellness Providers listed on this website provide health care
    services via in-person and telehealth. Smith Mental Wellness’s legal
    entities share protected health information with each other, only as
    necessary, to carry out treatment, payment and health care operations, and
    for other purposes that are permitted or required by law, as permitted by
    the Health Insurance Portability and Accountability Act (“HIPAA”). All of
    the legal entities that comprise Smith Mental Wellness agree to comply with
    the terms of this Notice. This Notice applies only to health information
    that is “protected health information” as defined by HIPAA. It does not
    apply to information that is not covered by HIPAA. We are required by law
    to: make sure that health information that identifies you is kept private;
    give you this notice of our legal duties and privacy practices with respect
    to your health information; notify you following a breach of your unsecured
    protected health information; and follow the terms of the notice that are
    currently in effect. Although this notice is being provided to you
    electronically, and by signing an acknowledgment of receipt of this notice,
    you consent to the provision of this notice electronically, you have the
    right to request a paper copy of this notice. We reserve the right to change
    our privacy practices and the terms of this Notice at any time and reserve
    the right to make any updated or new notice provisions effective for all
    protected health information that we maintain. In addition, updates
    described in this Notice are effective for all health information maintained
    by Smith Mental Wellness, including any health information collected prior
    to the effective date hereof. You may obtain a copy of the revised notice on
    the website. This notice is effective as of September 20, 2026.
  </p>
  <b class="main__text"> HOW YOUR INFORMATION IS USED </b>
  <p class="main__text">
    We may use and disclose your health information for the purposes of
    providing services and quality care. For the avoidance of doubt, providing
    treatment services, collecting payment and conducting healthcare operations
    are all necessary activities for quality care. State and federal laws allow
    us to use and disclose your health information for these purposes. Here are
    some helpful examples, but this list is not exhaustive:
  </p>
  <ul class="main__text">
    <li>
      To provide treatment. For example, if your treating provider wants to
      refer you fpr another treatment modality in your insurance network, they
      may use your health information for the purpose of referring you.
    </li>
    <li>
      The Practice or its business associates may use and disclose health
      information in order to verify your insurance and coverage.
    </li>
    <li>
      To collect payment. The Practice or its business associates will submit
      claims for reimbursement to your insurance company in order for them to
      pay us for the services we provide to you, which requires using your
      health information.
    </li>
    <li>
      For healthcare operations. The Practice or its business associates will
      use and disclose your health information for the review of treatment
      procedures, and may use it to review documentation to ensure provider
      compliance and quality care, and may use it internally to analyze our
      website and technologies through which we provide you services.
    </li>
    <li>
      For uses and disclosures for purposes other than treatment, payment and
      operations, we are required to have your written authorization, unless the
      use or disclosure falls within an exception. Most uses and disclosures of
      patient notes (as that term is defined in the HIPAA Privacy Rule), uses
      and disclosures for marketing purposes, and disclosures that constitute
      the sale of Personal Information require your authorization. Additionally,
      federal and state law requires special privacy protections for certain
      health information about you ("Highly Confidential Information"),
      including any Records (as defined at 42 C.F.R. § 2.11) related to
      substance use disorder diagnosis, treatment, or referral for treatment
      subject to 42 C.F.R. Part 2 ("Substance Use Disorder Records") and other
      health information that is given special privacy protection under state or
      federal laws other than HIPAA. In order for us to disclose any Highly
      Confidential Information for a purpose other than those permitted by law,
      we must obtain your authorization. You may provide a single consent for
      all future uses or disclosures of Substance Use Disorder Records for the
      purposes of Treatment, Payment, and Health Care Operations as described
      above. Substance Use Disorder Records disclosed pursuant to a consent for
      Treatment, Payment, or Health Care Operations purposes may be further
      disclosed without your consent to the extent permitted by HIPAA.
    </li>
  </ul>
  <p class="main__text">
    Authorizations can be revoked at any time to stop future uses/disclosures
    except to the extent that we may have already taken any action in reliance
    on your authorization.
  </p>
  <b class="main__text">
    DISCLOSURES THAT CAN BE MADE WITHOUT AN AUTHORIZATION
  </b>
  <ul class="main__text">
    <li>
      Emergencies. Sufficient information may be shared to address an immediate
      emergency you are facing.
    </li>
    <li>
      Judicial and Administrative Proceedings. We may disclose your personal
      health information in the course of a judicial or administrative
      proceeding in response to a valid court order or other legal process,
      including if you were to make a claim for Workers Compensation.
    </li>
    <li>
      Public Health Activities. If we felt you were an immediate danger to
      yourself or others, we may disclose health information about you to the
      authorities, as well as alert any other person who may be in danger.
    </li>
    <li>
      Child/Elder Abuse. We may disclose health information about you related to
      the suspicion of child and/or elder abuse or neglect.
    </li>
    <li>
      Criminal Activity or Danger to Others. We may disclose health information
      if a crime is committed on our premises or against our personnel, or if we
      believe there is someone who is in immediate danger.
    </li>
    <li>
      Health Oversight Activities. We may disclose health information to a
      health oversight agency for activities authorized by law. These activities
      might include audits or inspections and are necessary for the government
      to monitor the health care system and assure compliance with civil rights
      laws. Regulatory and accrediting organizations may review your case record
      to ensure compliance with their requirements. The minimum necessary
      information will be provided in these instances.
    </li>
    <li>
      Business Associates. The Practice may disclose the minimum necessary
      health information to our business associates that perform functions on
      our behalf or provide us with services if the information is necessary for
      such functions or services. For example, the Practice contracts with a
      vendor for filing claims with insurance companies. In the process of
      filing claims, that organization will come into contact with your
      information. We also contract with a vendor that collects and manages
      internet or other electronic network activity on our sites and services
      and internally encodes it so that we can determine and manage information
      that might be health information. All of our business associates sign
      agreements to protect the privacy of your information and are not allowed
      to use or disclose any information other than as specified in our
      contract, and are obligated to promptly notify us in the event there is a
      breach of protected health information (as defined by HIPAA).
    </li>
    <li>
      Trusted Exchange Framework and Common Agreement ("TEFCA"). The Practice or
      its business associates may disclose health information through a TEFCA
      for HIPAA-authorized treatment purposes, subject to contractual agreements
      to protect the privacy and security of health information as required by
      HIPAA, in order to manage or coordinate your health care, arrange for
      additional services, and/or for our health care operations.
    </li>
    <li>
      Marketing. We may send you newsletters or information about services we
      provide in which we feel you might be interested. You may at any time
      request that your name be removed from our mailing list.
    </li>
    <li>
      Scheduling appointments. We may email or call you to schedule or remind
      you of appointments.
    </li>
  </ul>
  <b class="main__text"> YOUR INDIVIDUAL RIGHTS </b>
  <p class="main__text">
    To exercise any of the patient rights outlined below, submit your request in
    writing to jsmith@smithmentalwellness.com.
  </p>
  <ol class="main__text">
    <li>
      Right to Inspect and Copy. You have the right to look at or get copies of
      your health information, with limited exceptions. If you request a copy of
      the information, a reasonable charge may be made for the costs incurred.
    </li>
    <li>
      Right to Amend. You have the right to request that we amend your health
      information. Your request must explain why the information should be
      amended. We have the right to deny your request under certain
      circumstances.
    </li>
    <li>
      Right to an Accounting of Disclosures. You have the right to receive a
      list of instances in which we have disclosed your health information for a
      purpose other than treatment, payment, or health care operations. Such
      accountings remain available for six years after the last date of service
      at the Practice.
    </li>
    <li>
      Right to Request Restrictions. You have the right to request a restriction
      or limitation on the health information we use or disclose about you,
      including information related to Substance Use Disorder records for which
      you previously gave consent. While you are in treatment, a written request
      should be made with your provider. To request a restriction after services
      are completed, you must make your written request to
      jsmith@smithmentalwellness.com. Please note that we are not required to
      agree to your request, except when a restriction is requested regarding a
      disclosure to a health plan in situations where the patient has paid for
      services in full and where the purpose of the disclosure is for payment.
      If we do agree, we will abide by the restriction unless the information is
      needed in an emergency or we are required to disclose it by law.
    </li>
    <li>
      Right to a List of Disclosures. Upon request, you may obtain a list of
      disclosures by an Intermediary (as defined at 42 C.F.R. § 2.11) for the
      past three (3) years.
    </li>
    <li>
      Right to Request Confidential Communications. You have the right to
      request that we communicate with you about health matters in a certain way
      or at a certain location. For example, you may ask that we contact you
      only by mail or at work. You must specify the alternative means or
      location that you would like us to use to provide you information about
      your health care. We will make every attempt to accommodate reasonable
      requests.
    </li>
    <li>
      Right to File Complaints. You may complain to us and to the Secretary of
      Health and Human Services if you believe your privacy rights have been
      violated. You may file a complaint with us by contacting
      jsmith@smithmentalwellness.com or via phone at (937) 882-5540. You will
      not be retaliated against for filing a complaint. You may also contact the
      office for further information about this notice.
    </li>
  </ol>
  <b class="main__text"> EMAIL AND TEXT MESSAGES </b>
  <p class="main__text">
    Some of our patients prefer to communicate with their provider via email or
    text message. Email and text messages have inherent privacy and security
    risks, and you should be aware of those before using emails and text
    messages. Errors in transmission or interception of messages can occur. Your
    email or text message is not a secure communication between you and your
    treating provider. At your health care provider’s discretion, your email or
    text message any and all responses may become part of your medical record.
    Additionally, for urgent or emergency situations, you should not rely on
    email communication with providers affiliated with the Practice. In those
    situations, you should call 911.
  </p>
</div>
{% endblock %}
