{% extends "base.html" %} {% block title %}Our Services{% endblock %} {% block
content %}
<div
  class="main__wide"
  style="background-image: url(../static/arch_splash.jpg)"
>
  <h1 class="main__title">Our Services</h1>
</div>
<div class="main__body">
  <div class="card">
    <img
      class="card__image"
      src="../static/wood_splash.jpg"
      alt="Example"
      draggable="false"
    />
    <h2 class="main__subtitle">Evaluation and Ongoing Treatment</h2>
    <hr class="main__hr" />
    <ul class="main__text">
      <li>Anxiety Disorders</li>
      <li>Depression</li>
      <li>PTSD & Trauma</li>
      <li>Obsessive-Compulsive Disorder (OCD)</li>
      <li>Bipolar Disorder</li>
      <li>Adjustment Disorders</li>
      <li>Mood Disorders</li>
      <li>ADHD</li>
      <li>Oppositional Defiance</li>
      <li>Dissociative Disorder</li>
      <li>Borderline Personality Disorder (BPD)</li>
    </ul>
  </div>
  <div class="card">
    <img
      class="card__image"
      src="../static/bark_splash.jpg"
      alt="Example"
      draggable="false"
    />
    <h2 class="main__subtitle">Evidence-Based Medication Management</h2>
    <hr class="main__hr" />
    <p class="main__text">
      Personalized psychiatric medication management tailored to your unique
      symptoms, medical history, lifestyle, and treatment goals.
    </p>
  </div>
  <div class="card">
    <img
      class="card__image"
      src="../static/forest_splash.jpg"
      alt="Example"
      draggable="false"
    />
    <h2 class="main__subtitle">Supportive Therapy & Skill Building</h2>
    <hr class="main__hr" />
    <p class="main__text">
      During medication management appointments, I also help patients develop
      practical tools to improve daily functioning, including:
    </p>
    <ul class="main__text">
      <li>Stress Management</li>
      <li>Healthy Coping Skills</li>
      <li>Emotional Regulation</li>
      <li>Anxiety Management Techniques</li>
      <li>Sleep Hygiene Education</li>
      <li>Psychoeducation about Mental Health & Medications</li>
      <li>Relapse Prevention Strategies</li>
      <li>Building Healthy Routines</li>
    </ul>
  </div>
</div>
{% endblock %}
